pandas
numpy
Flask
nltk
spacy
dialogflow
googletrans
google-cloud-texttospeech
google-cloud-translate
wikipedia
COVID19Py
gTTS
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm
